body {
    background-color: black;
}
/* cool debug statement */
* {
    outline: red 1px solid;
}

.main {
    background-color: white;
    margin-top: 110px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px;
}

.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px;
    height: 90px;
    /* uncomment to hide */
    /*display: none;*/
    position: relative;
    top: 128px;
    left: -212px;
    float: left;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
    background-repeat: no-repeat;
}

.ryu {
    float: left;
}

.ryu-ready, .ryu-throwing {
    /* toggle between none and block to show */
    display: none;
}

.ryu-ready, .ryu-still, .ryu-throwing {
    width: 659px;
    height: 494px;
}



.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
    /* use display: none to see other images */
    /*display: none;*/
}

.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
    /* use display: none to see other images */
    /*display: none;*/
}

.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}



