.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body{
    background: green;
}

a{
    text-decoration: none;
}

nav {
    position: relative;
    height: 10%;
    padding: 10em;
    display: inline;
}

nav ul li {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    list-style-type: none;
}

nav ul li:first-child {
    float: left;
}

nav ul li:last-child {
    margin-top: -80px;
    float: right;
}

nav a {

    color: #fff;
}

.overlay {
    width: 100%;
    height: 100%;
    color: #fff;
    background: #e74c3c;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
    display: none;
}

.content {
    color: #fff;
    background: #e74c3c;
    position: relative;
    height: auto;
    width: 600px;
    border-radius: 3px;
    top: 15%;
    margin: auto auto;
    border: 1px solid rgba(0,0,0,0.1);
}

.quiz{
    width: 1000px;
    align-self: center;
    padding: 100px;
    border: 2px dotted gray;
    margin: 0 auto;
    /* text-align: center; */
    background-color: lightslategrey;
    box-shadow: 0px 1px 30px #fff;

}

.container{
    width: auto;
    box-sizing: border-box;
    background: none repeat scroll 0% 0% #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 3px #fff;
    border: 3em;
    padding: 100px;

}
